*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    
}
.middle{
    align-items: center;
    display: flex;

    justify-content: space-between;
    gap:20px;
    min-height: 90vh;
    padding: 40px 20px;
    flex-direction: row-reverse;
    background: linear-gradient(to right,#ff758c,#ff7eb3);
    color: white;
}
.hero{
    flex: 0.7;
    text-align: center;
    
}
.hero-img{
    width: 80%;

    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.h1{
    flex: 1;
}
.h1 h1{
    text-align:right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    row-gap: 20px;
    font-size: 40px;
    
}
.hero-btn{
    margin-top: 20px;
    padding: 12px 20px;
    background: white;
    color: #c2185b;
    border-radius: 8px;
    font-size: 16px;
    cursor:pointer;
    transition: 0.3s;
}
.hero-btn:hover{
    background: black;
    color:white;
}

    
    

    


    

/*navbar*/
header{

    background-color: pink;
    color: white;
    padding: 15px 20px;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.logo{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: brown;
    
    



}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;

}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.nav-links a:hover,
.nav-links a.active{
    color: yellow;
}

/*sections*/
body{
    background-color: #be8585;
}
.about{

    color: #8b0000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

}
.about h2{
    font-size: 40pxpx;
    text-decoration: wavy;
    color: brown;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;

}
.about p{
    text-align: center;
    text-decoration: wavy;
    color: black;
    gap: 10px;
    column-gap: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-wrap: normal;
}
section{
    padding:60px 20px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
    color: #8b0000;
}
.p{
    color: black;
    row-gap: 10px;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*dishes*/
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-top: 20px;
}
.card{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    animation: forwards;
}
.card.hover{
    transform:scale(1.05);

}
.card img{
    width: 100%;
    border-radius: 10px;
    height:150px;
    object-fit: cover;
}
/*menu*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff8e1;
    text-align: center;
}
.title{
    margin: 20px;
    color: #b22222;
    text-align: center;

}
.menu-section{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));

}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap:20px;
}
.menu-box{
    width: 260px;
    margin:20px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    padding: 15px;
    display: grid;
    
}
.menu-box:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}
.menu-box ul{
    list-style: none;
    padding: 0;
    display: grid;

}
.menu-box li{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px dashed #ccc;
}
.menu-box li:last-child{
    border-bottom: none;
}
.menu-box b{
    color:green
}
/*contact*/

.contact{
    
    color:black;
    padding: 15px;
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
    text-align: center;


}
.contact-card{
    max-width: 400px;
    margin: auto;
    background: white;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

}
.contact-box input,
.contact-box textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 10px 0;
    font-size: 14px;
}
.contact-box button{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #8b0000;
    color:white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}
.contact-box button:hover{
    background: #b22222;
    transform: translateY(-2px);
    opacity: 0.9;
}

/*mobile*/
@media(max-width:768px){
    .nav-links{
        position: absolute;
        top: 60px;
        right: 0;
        background: #be8585;
        flex-direction: column;
        width: 200px;
        display: none;
        padding: 20px;
    }
    .nav-links.show{
        display: flex;
    }

}